{% extends 'layout/base.html' %}
{% block content %}
<h1 class="text-center text-success mt-1">Cart</h1>
{% if 'cart' in session %}
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    {% for c in session['cart'].values() %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ "{:,.0f}".format(c.price) }} VNĐ</td>
        <td>
            <input type="number" value="{{c.quantity}}" class="form-control" />
        </td>
        <td>
            <button class="btn btn-danger">&times;</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="alert alert-danger mt-2">Empty product</div>
{% endif %}

{% endblock %}