<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FPT Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang chu</a>
                </li>
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="/?category_id={{ c.id }}">{{c.name}}</a>
                </li>
                {% endfor %}
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/">
                        <img src="{{current_user.avatar}}" width="40" class="rounded-circle" />
                        Chào {{ current_user.username }}!
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href="/logout">Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href="/register">Register</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" method="get" action="/">
                <input class="form-control me-2" type="text" placeholder="Tim kiem san pham" name="kw">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search" style="color:white"></i></button>
            </form>
        </div>
    </div>
</nav>